*{
    transition: 0.5s;
}
body {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#clock {
    min-width: 300px;
    min-height: 300px;
    border: 10px solid black;
    border-radius: 50%;
    margin: 5px;
    position: relative;
}

.center {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.hourHand,
.minHand,
.secHand {
    width: 40%;
    right: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
}
.hourHand{
    width: 30%;
}
.minHand{
    height: 3px;
    width: 35%;
}
.secHand{
    height: 2px;
    width: 40%;
}

/* .hourHand,
.minHand,
.secHand {
    width: 6px;
    left: 147px;
    height: 300px;
    position: absolute;
    border-radius: 6px;

}

.hourHand .hr {
    width: 6px;
    left: 147px;
    background-color: yellow;
    height: 70px;
    width: 6px;
    margin-top: 80px;
    z-index: 2;
}

.minHand .mn {
    width: 4px;
    left: 148px;
    background-color: yellowgreen;
    height: 90px;
    width: 6px;
    margin-top: 60px;

}

.secHand .sc {
    width: 2px;
    left: 149px;
    background-color: teal;
    height: 110px;
    margin-top: 40px;
} */

/* .num1{
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(30deg*var(--i)));
}
.num span b{
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));
} */

.num {
    position: absolute;
    /* margin-left: -1px; */
    left: 50%;
    transform-origin: 50% 150px;
    text-align: center;
    margin-left: -4px;
}

.num b {
    position: absolute;
    color: black;
    left: 50%;
    width: 0px;
    margin-top: 15px;

}

.lines {
    position: absolute;
    width: 2px;
    height: 6px;
    background-color: black;
    left: 50%;
    /* margin-left: 0px; */
    transform-origin: 50% 150px;
}

.lines2 {
    position: absolute;
    width: 6px;
    height: 15px;
    background-color: black;
    left: 50%;
    margin-left: -3px;
    transform-origin: 50% 150px;
}
div #submit{
    width: 100px;
    height: 30px;
    background-color: teal;
    border-radius: 10px;
    border: none;
}
div #cancel{
    width: 100px;
    height: 30px;
    background-color: teal;
    border-radius: 10px;
    border: none;
}
div #submit:hover{
    background-color: rgb(1, 167, 167);
    color: black;
}
div #cancel:hover{
    background-color: rgb(1, 167, 167);
    color: black;
}
div #submit:active{
    background-color: rgb(1, 167, 76);
    color: white;
    font-weight: bolder;
}
div #cancel:active{
    background-color: rgb(1, 167, 76);
    color: white;
    font-weight: bolder;
}
div input:in-range{
    border: 2px solid yellow;
}
div + label {
    font-weight: bold;
    font-family: cursive;
}

